<form method = "POST" action="{% url 'uploadusers' %}" enctype="multipart/form-data">
  {% csrf_token %}

	   <div class="row">
                <div class="file-field">
                    <div class="row">
                        <input type="file" name="userfile" id="file1">
                    </div>

                  <div clss="row">
                  <input type="submit" value="Submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                  </div>
                </div>
            </div>
</form>